<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Emilio Gomez Lavin</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

<!--     <script type="text/javascript" src="http://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
 -->

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>

  <header> Header </header>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Emilio Gomez Lavin</h1>
        </div>
        <div class='row album' id=''> 
          <div class='col-md-10 col-md-offset-1'> 
            <div class='panel panel-default'> 
              <div class='panel-body'> 
                <div class='row'> 
                  <div class='col-md-3 col-xs-12'> 
                     <img src='https://66.media.tumblr.com/99e4095a93eed04205adb0b7096b35c3/tumblr_numsv7Rlm51twg13uo1_400.gif'    alt='profile pic'> 
                  </div>
                </div>   
                <div class='row'> 
                  <div class="form-group">
                    <input id="profile" name="index" type="submit" class="btn btn-danger" value="About Me">
                    <input id="artists" name="index" type="submit" class="btn btn-submit" value="Favorite Artists">
                    <input id="places" name="index" type="submit" class="btn btn-danger" value="Favorite Cities">
                  </div>
                </div>
              </div>
            </div> 
          </div> 
        </div> 
      </div>
    </div>
  </body>
</html>