<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Emilio Gomez Lavin</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>

  <header> Header </header>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Emilio Gomez Lavin</h1>
        </div>
        <div class='row album' id=''> 
          <div class='col-md-10 col-md-offset-1'> 
            <div class='panel panel-default'> 
              <div class='panel-body'> 
                <div class='row'> 
                  <div class='col-md-3 col-xs-12'> 
                     <img src='  http://placehold.it/400x400'    alt='album image'> 
                  </div> 
                  <div class='col-md-9 col-xs-12' id="results"> 
                    <ul class='list-group'> 
                      <li class='list-group-item'> 
                        <h4 class='inline-header'>Current City</h4> 
                        <span class='name' id="curr-city"></span> 
                      </li> 
                      <li class='list-group-item'> 
                        <h4 class='inline-header'>Pets</br><h6>Type: Name - Breed</h6></h4> 
                        <span class='name' id="pets"></span> 
                      </li> 
                      <li class='list-group-item'> 
                        <h4 class='inline-header'>Drinks</br><h6>Name: Origin - Cocktail</h6></h4> 
                        <span class='name' id="drinks"></span> 
                      </li> 
                    </ul> 
                    <!--linkedin_link: "https://linkedin.com/in/emiliogomezlavin"
                            github_link: "https://github.com/emiliogomezlavin",-->
                  </div> 
                </div> 
              </div>
              <div class='panel-footer'> 
              </div> 

          </div> 
          </div> 
      </div>
    </div>
  </body>
</html>
